<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.21.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.21.1" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.21.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="PostSharp" version="4.1.13" targetFramework="net40" />
  <package id="RestSharp" version="105.1.0" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
</packages>